.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding-inline: 24px;
    padding-block: 92px 96px;

}

.header__links-list {
    list-style: circle;
    display: flex;
    gap: 32px;
    font-size: 18px;
    padding-inline-start: 26px;
    padding-block-start: 44px;
    line-height: 1;
}

.header__link {
    text-decoration: underline solid 1px;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__menu-link {
    cursor: pointer;
}

.header__logo {
    min-width: 148px;
}

.header__address {
    justify-self: end;
    width: 240px;
    padding-inline-end: 25px;
    font-size: 18px;
    line-height: 1.35;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    inset: 0;
    opacity: .6;
    background-color: #000;
    z-index: 0;
}

.cover__title {
    z-index: 1;
    position: relative;
    padding-inline: 50px;
    padding-block-start: 165px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 135px 50px 50px 78px;
}

.cover__description-text {
    color: #FFF;
    text-transform: uppercase;
    word-spacing: 19.8px;
}

.bet-button {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 12px 32px;
    font-size: 22px;
}

.lots {
    padding-bottom: 146px;
    padding-inline: 24px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style-type: none;
    grid-template-rows: 1fr;
    padding-bottom: 30px;
}

.lots__card-list-item {
    height: 100%;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 51px 40px 48px 40px;
    color: #FFF;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);

}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline solid 1px;
    text-underline-offset: 4px;
    z-index: 1;
}

.card__text {
    z-index: 1;
}

.lots__look-more-link {
    padding-left: 40px;
    text-decoration: underline solid 1px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-bottom: 180px;
    padding-inline: 24px;
}

.about__logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.about__column-logo {
    margin: 0 auto;
    padding-top: 35px;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding-block: 136px 100px;
}

.about__text {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 50px;
    padding-bottom: 88px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1;
    list-style-type: none;
    align-items: center;
}

.footer__link {
    text-decoration: underline solid 1px;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link {
    cursor: pointer;
}

.footer__logo {
    min-width: 148px;
}

.footer__address {
    width: 240px;
    padding-inline-end: 25px;
    font-size: 18px;
    line-height: 1.35;
}

.footer__social-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 48px;
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
}